{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Login{% endblock %}#}

<!DOCTYPE html>
<html>
<body>

<h2>Login</h2>

    <form method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="checkbox" onclick="showPass()">Show Password<br><br>
      <button type="submit" onclick="loginUser()">Login</button>
    </form>

<script>
function showPass() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<script>
  function loginUser() {
    $.ajax({
      url: "FrontEnd/login/loginPrompt.py",
      context: document.body
    }).done(function(){
      alert('Running loginPrompt Script');;
    });
  }
</script>

</body>
</html>
