

<!DOCTYPE html>
<html>
<head>
    <style>
    body {
        margin: 0;
    }

    /* Style the header */
    .header {
        background-color: #CBA12E;
        padding: 20px;
        text-align: center;
    }

    form {
  		text-align: center;
        background-color: #E1DFD9;
        border-style: solid;
	}


    </style>
</head>
<body>

<div class="header">
    <h1>Classmate</h1>
</div>
<br>
<br>

    <form method="post">{% csrf_token %}
        <br><br><label for="username">Email:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="checkbox" onclick="showPass()">Show Password<br><br>
      <button type="submit"><a href="/">Login</a></button><br><br>
    </form>

<script>
function showPass() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</body>
</html>
